:root{
    --offwhite: hsl(36, 100%, 99%);
    --grayishblue: hsl(233, 8%, 79%);
    --darkgrayishblue: hsl(236, 13%, 42%);
    --verydarkblue: hsl(240, 100%, 5%);
    --softorange: hsl(35, 77%, 62%);
    --softred: hsl(5, 85%, 63%);
}
    /* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
body{
    margin: 6vh auto 0 auto;
    width: 1300px;
}
main{
    display:flex;
    flex-wrap: wrap;
}
    /* NAVIGATION BAR */
#main-header{
    display:flex;
    justify-content: space-between;
    padding: 0 0 50px 0;
}
#main-header img{
    width: 65px; 
    height: 40px;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav li{
    padding: 10px 20px 10px 20px;
    font-size: 1.1rem;
    color: var(--darkgrayishblue);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.nav li:hover{
    color: var(--softorange);
}
    /* FIRST ARTICLE */
.bright-future{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    min-height: 605px;
    padding-bottom:35px;
}
.bright-future img{
    width: 100%;
}
.bright-future header{
    width: 50%;
    color: var(--verydarkblue);
    padding-right:10%;
    padding-top: 30px;
    line-height: 3.8rem;
    font-size: 3.7rem;
    font-weight: 800;
}
.bright-future div{
    width: 50%;
    color: var(--darkgrayishblue);
    padding-left:5%;
    padding-top: 30px;
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bright-future div span{
    background-color: var(--softred);
    color: var(--offwhite);
    width: 200px;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    cursor: pointer;
}
.bright-future div span:hover{
    background-color: var(--verydarkblue);
}
#bright-future-mobile{
    display: none;
}
    /* ASIDE */
aside{
    width:455px;
    margin-left: 25px;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--verydarkblue);
    color: var(--offwhite);
    margin-bottom:35px;
    margin-right: 20px;
}
#aside-header{
    font-size:3rem;
    font-weight:700;
    color:var(--softorange);
    margin: 40px 0 13px 25px;
}
aside div{
    padding: 25px 25px 15px 25px;
}
aside div header{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--offwhite);
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
aside div header:hover{
    color:var(--softorange);
}
aside div p{
    padding-top: 15px;
    color: var(--grayishblue);
}
aside div .after::after{
    content: "";
    width: 100%;
    border-bottom: 2px solid var(--darkgrayishblue);
    display:block;
    padding-top: 35px;
}
    /* BOTTOM ARTICLES */
.nextarticles{
    display: flex;
    justify-content: space-between;
}
.nextarticles article{
    display:flex;
}
.nextarticles article img{
    height: 160px;
}
.bottom-containers{
    display:flex;
    flex-direction:column;
    padding-left: 15px;
    justify-content: space-between;
    width: 51%;
}
.bottom-containers div{
    color: var(--grayishblue);
    font-size: 2.5rem;
}
.bottom-containers header{
    font-weight:700;
    font-size: 1.2rem;
    cursor:pointer;
    transition: all 0.15s ease-in-out;
}
.bottom-containers header:hover{
    color: var(--softred);
}
.bottom-containers p{
    line-height: 2rem;
    color: var(--darkgrayishblue)
}


    /* ATTRIBUTION */
.attribution {
     font-size: 11px; 
     text-align: center; 
     margin-top:50px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width:1300px){
    body{
        width: 100%;
    }
    .bright-future{
        width: 100%;
    }
    aside{
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (max-width: 1000px){
    .bottom-containers p{
        line-height:normal;
    }
}
@media only screen and (max-width: 800px){
    .nextarticles{
        flex-flow: wrap;
        justify-content: space-around;
    }
    .nextarticles article{
        width: 75%;
        padding-top:20px;
    }
}
@media only screen and (max-width: 720px){
    .bright-future header{
        font-size: 3.4rem;
    }
    .bright-future div{
        justify-content: normal;
    }
}
@media only screen and (max-width: 686px){
    /* FIRST ARTICLE */
    #bright-future-mobile{
        display:initial;
    }
    #bright-future-desktop{
        display: none;
    }
    .bright-future{
        flex-flow: column nowrap;
    }
    .bright-future header{
        width: 70%;
        padding-left: 7%
    }
    .bright-future div{
        width: 100%;
        padding-left: 7%
    }
    .bright-future div p{
        width: 50%;
    }
    .bright-future div span{
        margin-top: 25px;
    }
    /* MOBILE MENU */
}